html {
  font-size: 62.5%; //1rem = 16px
}

body {
  background-color: $dark-blue;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
